@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Press+Start+2P&display=swap');

html,
body,
root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: #d60000;
  --orange: #ff530d;
  --yellow: #ffc801;
  --blue: #0e99da;
  --blue-light: #0e99da7a;
  --green: #93c700;
  --gray: #bfbdbd;
  --black: #010712;
  --white: #f2f2f2;
  --font-primary: 'Poppins', sans-serif;
  --font-secundary: 'Press Start 2P', cursive;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
